/* style du site */


/* styles "universels" */

body{
    font-family: "fantasy", Verdana; /* pas de Raleway comme pour le guide pratique : à modifier s'il y a mieux */
    background-color: #e1e1e0;
}
a{
    text-decoration: none;
}


/* classes personnalisées */

.fond-bordeau{   /* permet de colorier en bordeau les éléments de la classe */
    /*padding-top:1em;*/
    background-color: #8b3a3a;
}
.fond-noir{   /* permet de colorier en bordeau les éléments de la classe */
    /*padding-top:1em;*/
    background-color: black;
}
.texte-blanc{ /* texte en blanc :3 */
    color : #e1e1e0;
}
.bas{ /* pour le bandeau du bas */
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    padding-top: 2em;
    padding-bottom: 2em;
}
.case{
    border : 1px solid #e1e1e0;
    margin : 0.5em 0.5em 0.5em 0.5em;
    padding : 0.5em;
    border-radius: 30px;
    text-align: center;
    background-color :#e1e1e0;
    color:#8b3a3a;
}
.lien{ /* pour paramètrer directement*/
    text-decoration: underline;
    font-weight: bold;
}
.prix{
    font-weight: bold;
}
.petit{
    font-size:75%;
}
.boite{
    border: solid 1px black;
    padding:0.5em;
    margin:1em 0em 1em 0em;
}
.titre{
    margin-top: 4em; 
    margin-bottom: 2em;
    text-align: center;
}
.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}